body{
	margin: 0 auto;
	width: 100%;
}
h1{
	width: 100% auto;
}
table{
	text-align: center;
	margin: 0 auto;
	width: 80%;
	border: 1px solid grey;
	box-shadow: 1px 1px 1px 1px grey;
}
th{
	font-size: 150%;
}
td{
	padding: 5px;
}
tr:nth-child(even){
	background-color: #dddddd;
}
tr:nth-child(odd){
	background-color: white;
}
#edit{
	color: orange;
}
#delete{
	color: red;
}
#submit{
	text-align: center;
}
#mainCreate{
	margin: 0 auto;
	width: 40%;
	border: 1px solid black;
	margin-top: 50px;
}
#createH1{
	text-align: center;
	width: 100%;
	border: 0px 0px 0px 1px solid black;
}
label{
	margin-left: 20%;
}
.radio{
	margin-left: 30%;
}
.text{
	text-align: center;
}
#lijstenMain{
	text-align: center;
}
#lijstSub{
	width: 200px;
	height: 200px;
}